@font-face {
    font-family: 'ChapbookItalic';
    src: url('fonts/chapbook.italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
        }

body{
    color:white;
    background-color:black;
    font-family: 'ChapbookItalic', sans-serif;
}

#confession-box{
    font-size: 60px;
    Width: 50%;
    margin: 20% auto;
}